<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0y3BygofYfcYncYoAHpXXdNTKoPq_KB4</string>
	<key>GCM_SENDER_ID</key>
	<string>878978476421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProjectTiktokClone</string>
	<key>PROJECT_ID</key>
	<string>hary-mood-tracker-final</string>
	<key>STORAGE_BUCKET</key>
	<string>hary-mood-tracker-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:878978476421:ios:e8bc5622bb0f2aa5ea7cec</string>
</dict>
</plist>